body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}    /* DELETE? */

/* SECTION 1 */
.sections {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.s1 {
    background-color: #1F2937;
    padding: 90px;
    padding-top: 10px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.s1left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.s1p1 {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;  
    column-gap: 130px;
}

.header {
    font-family: Roboto;
    display: flex;
    justify-content: space-between;
    column-gap: 480px;
}

.headerlogo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 15px;
}

.link ,
.sectext {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.sectext {
    text-wrap: balance;
    width: 410px;
    
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.s1image {
    color: white;
    padding: 90px;
    background-color:#525252;
    text-align: center;
    margin: auto;
}

button {
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    width: 100px;
    padding: 5px;
    border-color: white;
}

/* SECTION 2 */
.s2 {
    height: 400px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s2box {    /* CHANGE COLOR AND SHAPE*/
    padding: 70px;
    border: 100px;
    background-color: #3882F6;
    border-radius: 20px;
    display: flex;
    width: 10px;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 50px;
    margin: 20px;
}

.subtext {
    width: 140px;
    text-align: center;
}

.s2title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-top: 30px;
}

/* Section 3 */

.s3 {
    background-color: #E5E7EB;
    padding: 100px;
}

.quote {
    font-size: 36px;
    font-family: "light italic";
    color: #1F2937;
    text-align: center;
}

.quoteby {
    text-align: right;

}

/* SECTION 4 */
.bluebox {
    display: flex;
    gap: 100px;
    background-color: #3882F6;
}

.blueboxtext {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #1F2937;
    color: white;
    margin-top: auto;
}



